html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media(min-width:700px){
    header{
        background-color: #D1D2D4;
        height:10vh;
    }
    .container{
        display:flex;
        margin-top:10px;
        margin-bottom:10px;
    }
    .content-a{
        background-color: #8CC63F;
        width:50%;
        height:76.7vh;
        order:2;
    }
    .content-b{
        width:25%;
        height:76.7vh;
        background-color: #0B9444;
        order:1;
    }
    .content-c{
        background-color: #F5EE31;
        width:25%;
        height:76.7vh;
        order:3;
    }
    footer{
        background-color: #D1D2D4;
        height:10vh;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
    }

}
@media(min-width:480px) and (max-width:699px){
    header{
        background-color: #D1D2D4;
        height:7vh;
    }
    .container{
        display:flex;
        margin-top:13px;
        margin-bottom:13px;
        flex-wrap: wrap;
        width: 100vw;
    }
    .content-a{
        background-color: #8CC63F;
        width:100vw;
        height:50vh;
    }
    .content-b{
        width:50vw;
        height:31.7vh;
        background-color: #0B9444;
    }
    .content-c{
        background-color: #F5EE31;
        width:50vw;
        height:31.7vh;
    }
    footer{
        background-color: #D1D2D4;
        height:7vh;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
    }

}
@media(min-width:150px) and (max-width:470px){
    header{
        background-color: #D1D2D4;
        height:7vh;
    }
    .container{
        display:flex;
        flex-direction: column;
        margin-top:15px;
        margin-bottom:15px;
    }
    .content-a{
        height:35vh;
        background-color: #8CC63F;
    }
    .content-b{
        background-color: #0B9444;
        height:23.2vh;
    }
    .content-c{
        background-color: #F5EE31;
        height:23.2vh;
    }
    footer{
        background-color: #D1D2D4;
        height:7vh;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
    }
}
